.app-wrapper{
    display: grid;
    grid-template-areas:
"header header header"
"navbar content right";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 8fr 3fr ;
    margin: 0 auto;
    width: 990px;
    padding: 0 10px;
}
.content{
grid-area: content;
    background: aqua;
}
.right{
    grid-area: right;
    background: gold;
}